body{
    margin: 0 0 0 0;
}

.vis{
    background-color: blue;
    width: 50em;
    height: 50em;
}

.novis1{
    
    width: 50em;
    height: 50em;
}
.novis2{
    
    width: 50em;
    height: 50em;
}